@import './variable.scss';
@import './mixin.scss';

body {
  background-color: $body-background-color;
}

.wrap {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-white;
    width: 100%;
    .header__in {
      position: relative;
      height: $header-in-height;
      .logo {
        position: absolute;
        top: 50%;
        left: $padding-m;
        transform: translateY(-50%);
        &::after {
          content: '';
          width: 1px;
          height: 24px;
          display: inline-block;
          margin: 0 6px;
          background-color: $color-gray;
        }
      }
      .search {
        position: absolute;
        top: 50%;
        left: 58px;
        width: calc(100% - 180px);
        transform: translateY(-50%);
        &::placeholder {
          color: $color-gray;
        }
      }
      .actions {
        position: absolute;
        top: 50%;
        right: $padding-m;
        transform: translateY(-50%);
        li {
          display: inline-block;
          vertical-align: middle;
          padding-left: $padding-l;
        }
      }
    }
    .navbar {
      position: relative;
      height: $navbar-height;
      background-color: $color-green;
      text-align: center;
      .menu {
        li {
          display: inline-block;
          a {
            color: $color-gray;
          }
        }
        &::after {
          @include clearBoth;
        }
      }
      .more-btn {
      }
    }
  }
  .container {
    height: 200px;
    padding: $padding-m $padding-m;
  }
  .footer {
    padding: $padding-m $padding-m;
    .footer__row {
      .left-btns {
        float: left;
        li {
          float: left;
        }
        &::after {
          @include clearBoth;
        }
      }
      .right-btns {
        float: right;
        li {
          float: left;
        }
        &::after {
          @include clearBoth;
        }
      }
      &::after {
        @include clearBoth;
      }
    }
    .footer__row2 {
      text-align: center;
      ul li {
        display: inline-block;
      }
    }
  }
}
