$font-size-base: 18px;
$color-gray: #e7e7eb;
$color-green: #09c665;
$color-black: #282828;
$color-white: #ffffff;
$body-background-color: #eff2f8;
$header-height: 120px;
$header-in-height: 61px;
$navbar-height: 58px;
$padding-s: 5px;
$padding-m: 10px;
$padding-l: 15px;
$border-size-s: 0.5px;
$border-size-m: 1px;
$border-size-l: 2px;
